// Place all the styles related to the Admin::Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content
{
  width: 100%;
  height: 100%;
  border-left-color: #eeeeee;
  border-right-color: #eeeeee;
}