-@category.subcategories.each do |subcategory|
  %p
    %strong Subcategory Name:
    %i=subcategory.name
    =link_to " ", edit_admins_subcategory_category_path(subcategory), class: "glyphicon glyphicon-edit"
    =link_to " ", [:admins, subcategory.category, subcategory], method: :delete, class: "glyphicon glyphicon-trash"