=simple_form_for ([:admins, @category, @category.subcategories.build]), html: { role: 'form' } do |f|
  .form-group
    =f.input :name, label: false, placeholder: 'Add subcategory', input_html: { class: 'form-control' }
  .form-group
    =f.button :submit, class: 'btn btn-primary'