.jumbotron
  .container
    =simple_form_for @category, url: admins_categories_path, html: { role: 'form' } do |f|
      .form-group
        =f.input :name, label: false, placeholder: 'Add name Category', input_html: { class: 'form-control' }
      .form-group
        =f.button :submit, "Edit category", class: 'btn btn-primary'
        =link_to "Back", admins_categories_path, class: 'btn btn-default'
