.jumbotron
  .container
    %h3 Category
    %p
      %strong Name category:
      =@category.name
    %br

    %h3 Subcategories
    =render "admins/categories/subcategories_show"

    %h3 Add Subcategories
    =render "admins/categories/subcategories_form"