-@category.subcategories.each do |subcategory|
  %p
    %strong Subcategory Name:
    %i=subcategory.name
    =link_to " ", [:admin, subcategory.category, subcategory], class: "glyphicon glyphicon-edit"
    =link_to " ", [:admin, subcategory.category, subcategory], method: :delete, class: "glyphicon glyphicon-trash"