.jumbotron
  .container
    %p
      %strong Name category:
      =@category.name
    %p
      %strong Subcategories:
      -@category.subcategories.each do |subcategory|
        =subcategory.name
    .btn-group{ role: 'group', 'aria-label' => 'action' }
      =link_to 'Edit', edit_admin_category_path(@category), class: 'btn btn-warning', 'aria-label' => 'action'
      =link_to 'Back', admin_categories_path, class: 'btn btn-default','aria-label' => 'action'
      =link_to 'Delete', admin_category_path(@category), method: :delete, class: 'btn btn-danger','aria-label' => 'action'


