.col-md-12
  .jumbotron
    .container
      %p
        %strong Name category:
        =@category.name
      %br

      %h3 Subcategories
      -#=render "admin/categories/subcategories_show"
      -@category.children.each do |sub|
        =sub.name