.jumbotron
  .add_button
    =link_to "Add product", new_admin_product_path, class: 'btn btn-primary'
  .container
    - @products.each do |product|
      .bs-callout-black.red
        .media
          .col-md-3
            %a.media-left.media-middle{href: "#{admin_product_path(product)}"}
              =image_tag product.image_url(:thumb), class: 'img-responsive img-rounded img-thumbnail'

          .media-body
            %h5.media-heading
              %strong Name:
              =product.title

            %h5.media-heading
              %strong Id:
              =product.id

            %h5.media-heading
              %strong Description:
              =truncate(product.description, length: 160, separator: " ")

            %h5.media-heading
              %strong Created:
              =product.created_at

            %h5.media-heading
              %strong Updated:
              =product.updated_at

            %h5.media-heading
              %strong Price:
              =product.price

            %h5.media-heading
              %strong Status:
              -if product.status == true
                %button.btn.btn-xs.btn-success{ type: 'button' } Active
              -else
                %button.btn.btn-xs.btn-danger{ type: 'button' } Not Active

            %h5.media-heading
              %strong Action:
              =link_to " ", edit_admin_product_path(product), class: 'glyphicon glyphicon-edit', title: 'edit'
              =link_to " ", admin_product_path(product), method: :delete, class: 'glyphicon glyphicon-trash', title: 'delete'